.home {
  background-color: black;
  padding-bottom: 2rem;
  min-height: 100vh;
  position: relative;

  .heading {
    text-align: center;
    color: white;
    margin: 20px;
  }
  .spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .spinner {
      width: 16rem;
      height: 16rem;
    }
  }

}
